{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1 class="text-center">Cardiac Disease Risk Prediction</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <div class="mb-3 mt-3"><label class="form-label">Age</label> {{form.age}} </div>
        <div class="mb-3 mt-3"><label class="form-label">Cigarettes per day</label> {{form.cigs_per_day}} </div>
        <div class="mb-3 mt-3"><label class="form-label">Weight (kg)</label> {{form.weight}} </div>
        <div class="mb-3 mt-3"><label class="form-label">Gender</label> {{form.sex}} </div>

        <div class="form-check mb-3 mt-3">{{form.bp_meds}}<label class="form-check-label">On Blood Pressure
            Medication</label></div>
        <div class="form-check mb-3 mt-3">{{form.prevalent_stroke}} <label class="form-check-label">History of
            Stroke</label></div>
        <div class="form-check mb-3 mt-3">{{form.prevalent_hyp}}<label class="form-label">Hypertension</label> </div>
        <div class="form-check mb-3 mt-3">{{form.diabetes}}<label class="form-label">Diabetes</label> </div>
      </div>
      <div class="col">
        <div class="mb-3 mt-3"><label class="form-label">Total Cholesterol (mg/dL)</label> {{form.tot_chol}} </div>
        <div class="mb-3 mt-3"><label class="form-label">Heart Rate (BPM)</label> {{form.heart_rate}} </div>
        <div class="mb-3 mt-3"><label class="form-label">Height (cm)</label> {{form.height}} </div>
        <div class="mb-3 mt-3"><label class="form-label">Systolic Blood Pressure (mmHg)</label> {{form.sys_bp}} </div>
        <div class="mb-3 mt-3"><label class="form-label">Diastolic Blood Pressure (mmHg)</label> {{form.dia_bp}} </div>
        <div class="mb-3 mt-3"><label class="form-label">Glucose (mg/dL)</label> {{form.glucose}} </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Predict</button>
  </form>
  {% if prediction %}
  <h2>Prediction:</h2>
  <p>The user has a {{ prediction }}% risk of developing conorary heart disease in the next 10 years.</p>
  {% endif %}

  {% if history %}
  <h2 class="mt-5"> Risk assessment history</h2>
  <table class="table table-hover mt-2 w-50">
    <thead>
      <tr>
        <th>Time</th>
        <th>Risk of Coronary Heart Disease in the next 10 years</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
      </tr>
    </tbody>
  </table>
  {% endif %}

</div>
{% endblock %}